#container{
 background: blue;
    margin: 0px;
    padding: 0px;
    width:80%;
    height: 30%;
    font-size: 20px;
    float: right;
}
#menu{
    background: green;
    margin: 0px;
    padding: 0px;
    width:20%;
    height: 100%;
    font-size: 20px;
     float: left;
}
#menu h3{
    background: #ffffff;
    margin: 20px 20px 30px 5px;
    padding: 10px;
    font-size: 30px;
}
#menu ul li{
    background: #ffffff;
    margin: 20px 20px 30px 5px;
    padding: 0px;
    font-size: 30px;
    list-style-type:none ;
}
#menu ul li a{
    background: #ffffff;
    margin: 20px 20px 30px 5px;
    padding: 0px;
    font-size: 30px;
    text-decoration: none;
}
#menu ul li a:link,#menu ul li a:visited{
    text-decoration: none;
    color: #000000;
}
#menu ul li a:hover{
    color: blue;
    text-decoration: underline;
}
#content{
    background: #ffffff;
    margin: 0px;
    padding:0px;
    width:80%;
    height: 100%;
    font-size: 20px;
    float: right;
}
#content ul li{
    background: #ffffff;
    margin: 50px 50px 30px 50px;
    padding: 0px;
    font-size: 30px;
    list-style-type:none ;
}
#content ul a{
    background: red;
    margin: 100px ;
    padding: 50px 500px 0px 0px;
    text-decoration: none;
}
