$def with (result)
<ul>
$for res in result:
    <li id="t$res.id"></li>
</ul>
<form method="post" action="config">
<input type="hidden" name="id" value=$res.id>
   用户名:<input type="text" name="user" value=$res.user /></br>
    密码:<input type="text" name="passwd" value=$res.passwd /></br>
    协议:<select name="protocol" >
        <option  value="origin">origin</option>
        <option  value="auth_sha1">auth_sha1</option>
        <option  value="auth_sha1_v4">auth_sha1_v4</option>
        <option  value="auth_aes128_md5" >auth_aes128_md5</option>
        <option  value="auth_aes128_sha1" selected="selected">auth_aes128_sha1</option>
        <option  value="auth_chain_a">auth_chain_a</option>
        </select></br>
    加密方法:<select name="method" >
        <option  value="aes-128-cfb"selected="selected">aes-128-cfb</option>
        <option  value="aes-192-cfb">aes-192-cfb</option>
        <option  value="aes-256-cfb">aes-256-cfb</option>
        <option  value="chacha20" >chacha20</option>
        <option  value="aes-128-ctr">aes-128-ctr</option>
        <option  value="aes-256-ctr">aes-256-ctr</option>
        <option  value="aes-192-ctr">aes-192-ctr</option>
        <option  value="sasa20">sasa20</option>
        </select></br>
    混淆方式:<select name="obfs" >
        <option  value="plain">plain</option>
        <option  value="http_simple">http_simple</option>
        <option  value="http_simple_compatible" selected="selected">http_simple_compatible</option>
        <option  value="http_post">http_post</option>
        <option  value="http_post_compatible">http_post_compatible</option>
        <option  value="tls1.2_ticket_auth">tls1.2_ticket_auth</option>
        <option  value="tls1.2_ticket_auth_compatible">tls1.2_ticket_auth_compatible</option>
        </select></br>
    <input type="submit" value="修改" /></p>
</form>