$def with (result)
<style>
    #main li{
        width:300px;
        background: palevioletred;
         list-style-type:none ;
        line-height:50px;
        font-size: 30px;
    }
    #main ul label{
        background: red;
        font-size: 40px;
    }
</style>
<div id="main">
<ul>
$for res in result:
    <label>用户名：</label><label id="">$res.user</label></br>
    <label>密码：</label><label id="t$res.passwd">$res.passwd</label></br>
    <label>端口：</label><label id="t$res.port">$res.port</label></br>
    <label>加密方法：</label><label id="t$res.method">$res.method</label></br>
    <label>协议：</label><label id="t$res.protocol">$res.protocol</label></br>
    <label>单端口多用户协议参数：</label><label id="t$res.canshu">$res.canshu</label></br>
    <label>混淆方式：</label><label id="t$res.obfs">$res.obfs</label></br>
</ul>
</div>